repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.11.1
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args: [--config-file=pyproject.toml]
        exclude: ^tests/
        # some dependencies don't export types, so they're needed in the mypy
        # virtualenv
        additional_dependencies:
          - fastmcp
          - pydantic

  - repo: https://github.com/arkinmodi/add-license-header
    rev: v2.4.0
    hooks:
      - id: add-license-header
        args:
          - --single-year-if-same
          - --year-delimiter=-
          - --license-file=license-header.tpl
        files: ^.*\.py$

  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint

  # A hack to get dependabot to find security vulnerabilities in our dependencies
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.25
    hooks:
      - id: uv-export
        files: ^(uv\.lock|pyproject\.toml|uv\.toml)$
        args: ["--frozen", "--no-emit-project", "--no-hashes", "--output-file=requirements.txt", "--quiet"]
