name: "CI"

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install
        uses: ./.github/composites/install

      - name: Lint
        run: |
          just lint

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install
        uses: ./.github/composites/install

      - name: Install Python
        run: uv python install ${{ matrix.python-version }}

      - name: Unit tests
        run: |
          uv run --python ${{ matrix.python-version }} pytest --cov
