name: "CI"

on:
  push:
    branches:
      - main
      - release/**
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0  # Fetch full history for license year detection

      - name: Install
        uses: ./.github/composites/install

      - name: Lint
        run: |
          just lint

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install
        uses: ./.github/composites/install

      - name: Install Python
        run: uv python install ${{ matrix.python-version }}

      - name: Unit tests
        run: |
          uv run --python ${{ matrix.python-version }} pytest --cov
