name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  release:
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install
        uses: ./.github/composites/install

      - name: Build packages
        run: |
          uv build

      - name: Publish packges to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
